{% extends "layouts/main.njk" %}

{% block title %}
    <title>Formation Droit & Smart Contracts</title>
    <meta name="description" content="Formation professionnelle Droit & Smart contracts">
{% endblock %}

{% block content %}
    <nav class=" navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">

              <a class="pull-left"> <img src="img/logo.png" class="logotop" width="12" alt="ECAN" >  </a>

              <a class="navbar-brand text-danger pull-left" href="/"> ECAN</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="#presentation" class="navlink">Présentation</a></li>
                  <li><a href="#contenu" class="navlink">Programme</a></li>
                  <li><a href="#equipe" class="navlink">Formateur</a></li>
                  <li><a href="#contact" class="navlink">Contact</a></li>

                  <li>&nbsp;</li>
              </ul>

          </div>
      </div>
    </nav>

    <header class="titreformation">
      <div class="container-fluid">
        <div class="" >

            <h1 class="text-center ">Formation Développeur Blockchain</h1>
            <h2 class="text-center"></h2>

        </div>
      <!-- </div> -->
    </header>

    <section id="presentation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <p class="lead"> Saisir le fonctionnement des protocoles <strong>blockchain</strong>, développer et déployer un Smart Contracts, avoir une vision d'ensemble des protocoles décentralisés.</p>
                </div>
            </div>
            <br/>
            <div class="row">
              <div class="presentation col-md-3 col-md-offset-1 ">
                <img class="img-responsive "src="img/ESCP.jpg">
                <br>
              </div>
              <div class="presentation col-md-7 ">
                <p class="underlead">L'objectif de la formation est de donner les compétences nécessaires pour l’ensemble des étapes du développement de projets blockchain. La formation établit le détail du fonctionnement des protocoles blockchain, forme au développement de smart contracts sur Ethereum, la conception d’interface pour interagir et leur connection avec avec les smart contracts et introduit les questions de déploiement de réseaux privés.</p>

              </div>

            </div><!--/row-->
           <div class="row">

              <div class="presentation col-md-7 col-md-offset-1 ">
                <h3>Prérequis et public</h3>
                <p class="underlead"> Notions de base du développement web (API, réseaux, javascript).</p>
                <p class="underlead"> Formation destinée aux développeurs et responsables techniques.</p>
              </div>
              <div class="presentation col-md-3  ">
                <img class="img-responsive "src="img/blockchain.jpg">
              </div>
            </div>
            <!--/row-->

        </div><!--/container-->
    </section>

  <section class="cfld" id="contenu">
    <div class="container ">
        <div class="row">

          <div class=" col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading text-center ">
                <h3>Programme</h3>
              </div>
              <div class="panel-body">                  
                <ul class="list-group notDetails">
                  <li class="list-group-item">  
                    <strong>I. Le fonctionnement des technologies blockchain</strong><br>
                    -  Rappel des notions élémentaires de cryptographie ( hash, arbre de Merkle ... ) <br>
                    -  Génération de clés et adresses <br>
                    -  Les mécanismes de consensus <br>
                    -  La machine virtuelle d'Ethereum et Smart Contracts <br>

                  </li>
                  <li class="list-group-item">
                    <strong>II. Le développement de Smart Contracts</strong><br>
                    - Le langage Solidity par la pratique ( jetons fongibles, traçabilité, registre ) <br>
                    - Déploiement de Smart Contract<br>
                    - Les environnements de développement (Remix, Truffle, ... ) <br>
                  </li>
                  <li class="list-group-item">
                    <strong>III. Lecture et interface</strong><br>
                    - Le développement d’interface et connection ( web3.js )<br>
                    - L’utilisation de metamask<br>
                    - API publiques<br>
                  </li>
                  <li class="list-group-item">
                    <strong>IV. Développement de smart contracts avancé </strong><br>
                    - Outils de test et d'analyse<br>
                    - Gas et optimisation<br>
                    - Pratique : gestion de l'identité<br>
                    - panorama des protocoles décentralisés <br>
                  </li>
                  <li class="list-group-item">
                    <strong>V.  Réseaux</strong><br>
                    - Clients : Geth, Parity et Panthéon<br>
                    - Réseaux publics, privés et permissionnés<br>
                    - Genesis block et paramètres du déploiement de réseaux privés<br>
                  </li>

                </ul>
              </div>
              </div>
            </div>

            <div class="col-sm-4 ">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3>Modalités</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group notDetails">
                          <li class="list-group-item">Durée: 14 heures</li>
                          <li class="list-group-item">Possibilité d'adapter le format et contenu</li>
                          <li class="list-group-item">Intra & Inter-entreprises</li>
                          <li class="list-group-item">English & Français</li>
                          <li class="list-group-item">France & Europe</li>
                          <li class="list-group-item">Prix individuel: 1600 € HT</li>
                        </ul>                        
                      <div class=" text-center">
                        <button class="btn btn-danger btn-lg lato hover-underline notDetails" type="button" data-toggle="modal" data-target="#contactForm" data-id="Formation Développeur Blockchain">Contact</button>
                      </div>
                    </div>
                </div>
            </div>

          </div><!--/row-->
        </div>   <!--/container-->
    </section> <!--contenu-->

    <section id="equipe">
        <div class="container">
            <h1 class="text-center">Formateur</h1>
             <div class="row">

                  <div class="col-sm-2 col-sm-push-2 text-center ">
                  {% include "includes/image-xavier.html" %}

               </div>
               
               <div class="col-sm-6 col-sm-push-2 ">
                  {% include "includes/bio-xavier.html" %}
                </div>


            </div>


      




            </div>
        </div>
        </div>
    </section>

    <section  class="cfld" id="lieux">
         <div class="container">
         <h2 class="text-center">Ils nous font confiance</h2>
            <div class="row">
                <div class="col-md-3">
                  <figure class="thumbnail lieux">
                      <img src="img/partenaire/openlaw.png" alt="Open Law" class="img-responsive"/>
                    <figcaption>
                      <h3>Open Law</h3>
                      <!-- <p class="descrilieux">En association avec Open Law, organisation de rencontres avec des professionnels du droit sur les cas d'usage de la blockchain en propriété intellectuelle, finance... associant réflexion et pédagogie </p> -->
                    </figcaption>
                  </figure>
                </div>

                <div class="col-md-3">
                  <figure class="thumbnail lieux">
                     <img src="img/partenaire/ce.jpg"  alt="Caisse d'Epargne" class="img-responsive"/>
                    <figcaption>
                      <h3>Caisse d’Épargne Rhône-Alpes</h3>
                      <!-- <p class="descrilieux">Formation à destination des startups incubées par la Caisse d'Epargne</p> -->
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-3">
                  <figure class="thumbnail lieux">
                      <img src="img/partenaire/emlyon.png" alt="EM Lyon" class="img-responsive"/>
                    <figcaption>
                      <h3>EM Lyon </h3>
                      <!-- <p class="descrilieux">Formation dans le cadre des <i>Executive Masters</i> pour dirigeants d'entreprises</p> -->
                    </figcaption>
                  </figure>
                </div>
                <div class="col-md-3">
                  <figure class="thumbnail lieux">
                      <img src="img/partenaire/cdc.png" alt="CDC" class="img-responsive"/>
                    <figcaption>
                      <h3>Caisse des Dépôts et Consignations</h3>
                      <!-- <p class="descrilieux">Organisation du Blockfest, associant conférences, ateliers pédagogiques et un hackathon à l'Ecole 42, en partenariat avec Deloitte, RCI bank et la caisse des Dépôts et Consignations, avec le soutien de la mairie de Paris, IBM, et Ouishare. </p> -->
                    </figcaption>
                  </figure>
                </div>
            </div>
        </div> <!-- row -->
    </section>




<!--     <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"e7523538693dd901b7db82d3c","lid":"bc1e7eb17d"}) })</script> -->


{% endblock %}
