{% extends "layouts/main.njk" %}

{% block title %}
    <title>Formation Droit & Smart Contracts</title>
    <meta name="description" content="Formation professionnelle Droit & Smart contracts">
{% endblock %}

{% block content %}
    <nav class=" navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">

              <a class="pull-left"> <img src="img/logo.png" class="logotop" width="12" alt="ECAN" >  </a>

              <a class="navbar-brand text-danger pull-left" href="/"> ECAN</a>
          </div>

      </div>
    </nav>

    <header class="titreformation">
      <div class="container-fluid">
        <div class="" >

            <h1 class="text-center ">Droit & Smart Contracts</h1>
            <h2 class="text-center">Les enjeux juridiques et aspects compliance des protocoles blockchain et des cryptoactifs</h2>

        </div>
      <!-- </div> -->
    </header>

      <div class="typeform-widget" data-url="https://xalava.typeform.com/to/zmqH0Y" style="width: 100%; height: 800px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
{% endblock %}
