<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}{% endblock %}

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Reseaux sociaux  -->
    <link rel="canonical" href="https://ecan.fr" />
    <meta property="og:locale" content="fr" />
    <meta property="og:title" content="ECAN" />
    <meta property="og:description" content="Formations Smart Contracts, blockchain et prototypage" />
    <meta property="og:image" content="img/SmartContracts.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ecan.fr/" />


    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="Formations Smart Contracts, blockchain et prototypage"/>
    <meta name="twitter:title" content="ECAN"/>
    <meta name="twitter:site" content="@ECANfr"/>
    <meta name="twitter:image" content="img/SmartContracts.jpg"/>
    <meta name="twitter:creator" content="@XavierLava"/>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "University",
        "name": "ECAN - Blockchain & Emerging Technologies",
        "description": "Organisme de prototypage et de formation professionnelle aux smart contracts et technologies blockchains, l'ECAN accompagne les projets blockchain par des formations techniques, juridiques et stratégiques, développe des prototypes Smart Contracts et blockchain, et déploie les solutions et prototypes",
        "telephone": "+33667449979",
      }
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->



  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% block content %}{% endblock %}


    <section class="cfld" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Contact</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <figure class="thumbnail">

                    <img src="img/both2.jpg" alt="Atelier" class="img-responsive"/>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="thumbnail">

                    <img src="img/SmartContracts.jpg" alt="Formation Smart Contracts" class="img-responsive"/>
                    </figure>

                </div>
                <div class="col-md-4">
                    <address data-toggle="modal" data-target="#contactForm" class="" data-id="Blockchain">

                      <p>Xavier Lavayssière</strong></p>
                      <p>+33 6 67 44 99 79</p> 
                      <p>8 Place Louis Chazette<br>
                      69001 Lyon</p>

                      <p>15 rue Marie et Louise<br>
                      75010 Paris</p>
                    </address>
                    <address>
                     <strong>Email</strong><br>
                    <a href="mailto:contact@ecan.fr"  class="yay">contact@ecan.fr</a>
                    </address>


                  <a href="https://www.facebook.com/ecanfr/" class="yay"><i class="fab fa-facebook fa-2x sociaux "></i></a>
                  <i> </i>

                  <a href="https://www.twitter.com/ECANfr/"  class="yay"><i class="fab fa-twitter fa-2x sociaux "></i></a>

                  <span type="button" data-toggle="modal" data-target="#contactForm" class="yay" data-id="Blockchain"><i class="fa fa-envelope fa-2x sociaux "></i></span>

                </div>

            </div>
        </div>
    </section>


    <footer id="footer" class="cfld">
        <div class="container">
            <div class="row">
      
            </div>
            <!--/row-->
              <p class="text-right">ECAN - SIRET 819 396 144 00019 </p>
              <p class="text-right">© 2015 - 2018 </p>
        </div>

    </footer>

    <div class="modal fade" id="contactForm" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true" z-index="10">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="sujetContactDisplay">Informations</h4>
          </div>
          <div class="modal-body" class="">
          <p> Pour vous renseigner sur les prochaines sessions ou toute demande particulière :</p> 
            <form action="//formspree.io/xavier@ecan.fr"
                  method="POST">
                <div class="form-group">
                  <label for="_replyto" class=" control-label">Email </label>
                  <input type="email" name="_replyto" class="form-control">
                </div>
                <div class="form-group">
                  <label for="message" class="control-label">Message</label>
                  <textarea name="message" class="form-control" rows="3"></textarea>
                </div>
                <input type="hidden" name="_next" value="http://ecan.fr">    
                <input type="hidden" name="_subject" id="sujetContactSend" value="Prise de contact en ligne">
                <div>
                  <input type="submit" value="Envoyer" class="btn btn-danger pull-right">
                </div>
            </form>
          </div>

        </div> <!-- modalcontent -->
      </div>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
